
/*Zdefiniowanie wszystkich kolorów występujących na stronie*/
$white: #fff;
$orange: #f68121; //rgb(246, 129, 33)
$orange-dark: #dc6809;
$green: #44c2c7;
$green-dark: #2ba9ae;
$red: #F44336;
$grey-light: #fafafa;
$grey-medium-light: #f7f7f7;
$grey-medium: #eee;
$grey-medium-dark: #ccc;
$grey-dark-medium: #868686;
$grey-dark: #616160;
$blue: #42a5f5; //rgb(66,165,245)
$blue-dark: #1c91ef;
$volvo-color: #005FA2;
$footer-color: #353535;
