general-info {
  img {
    max-height: 250px;
  }
  h2{
    margin: 20px 0px;
  }
  p {
    font-size: 18px;
    color: $grey-dark;
    list-style: none;
    background-size:24px;
    background-repeat:no-repeat;
    background-position:left center;
    padding-left: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .name {
    display: inline-block;
    input {
      font-size: 36px !important;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
      padding: 6px 5px !important;
    }
  }
  .btn-edit {
    display: inline-block;
    overflow:hidden;
  }
  .position {
    input {
      margin: 10px 0px;
      padding: 8px 0px 8px 5px;
      font-size: 24px !important;
    }
    span {
      @media(max-width: 767px) {
        width: 100%;
      }
    }
  }

  .birthday {
    p {
      background-image:url('../img/icons/calendar.svg');
    }
    span {
      width: 100%;
    }
    input {
      margin-top: 10px;
    }
  }
  .location {
    p {
      background-image:url('../img/icons/location.svg');
    }
    span {
      width: 100%;
    }
    input {
      margin-top: 10px;
    }
  }
  .phone {
    p {
      background-image:url('../img/icons/phone.svg');
    }
    span {
      width: 100%;
    }
    input {
      margin-top: 10px;
    }
  }
  .mail {
    p {
      background-image:url('../img/icons/mail.svg');
    }
    span {
      width: 100%;
    }
    input {
      margin-top: 10px;
    }
  }
  .btn {
    font-size: 18px;
    margin-top: 20px;
  }
  .btn-danger {
    width: 100%;
    margin-top: 10px;
  }
}
