pro-exp {
  h2 {
    padding-left: 45px;
    margin-top: 30px;
    span {
      font-weight: bold;
    }
  }
  h3 {
    display: inline;
    font-size: 18px;
    color: $blue;
    padding-top: 10px;
    &:first-of-type {
      padding-left: 45px;
    }
  }
  .list {
    padding-top: 10px;
    padding-left: 45px;
    &:first-of-type {
      padding-top: 25px;
    }
    ol {
      padding-left: 18px;
      li {
        padding-left: 0px;
        font-size: 18px;
        color: $grey-dark;
        margin-bottom: 5px;
      }
    }
  }
  .btn {
    font-size: 18px;
    margin-top: 20px;
  }
  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }
  .btn-danger {
    width: 100%;
    margin-top: 10px;
  }
  input {
    &.position {
      margin: 0px 20px 10px 45px;
      font-size: 24px;
      width: 94%;
    }
    &.company {
      font-weight: bold;
      font-size: 24px;
      width: 100%;
    }
    &.start {
      color: $blue;
      margin-left: 45px;
    }
    &.end {
      color: $blue;
    }
    &.task {
      width: 100%;
      margin: 10px 0px 10px -18px;
    }
  }
}
