pro-exp {
  .position {
    padding: 20px 0px 20px 30px;
    border-bottom: 1px solid $grey-medium-light;
    .title {
      div {
        display: inline-block;
      }
      input {
        font-size: 24px;
        padding: 18px 12px !important;
        margin-left: 45px;
      }
      h2 {
        padding-left: 45px;
        padding-top: 0px;
        margin-top: 0px;
      }
      .company {
        font-weight: bold;
        font-size: 24px;
        color: $grey-dark;
        padding-left: 5px;
      }
    }
  }
  .dates {
    padding: 15px 0px 0px 45px;
    div {
      display: inline-block;
    }
    h3 {
      display: inline;
      font-size: 18px;
      color: $blue;
      padding-top: 10px;
    }
    span {
      color: $grey-dark;
    }
  }

  .list {
    padding-top: 10px;
    padding-left: 30px;
    &:first-of-type {
      padding-top: 25px;
    }
    ol {
      padding-left: 18px;
      li {
        padding-left: 0px;
        font-size: 18px;
        color: $grey-dark;
        margin-bottom: 5px;
      }
    }
  }
  .buttons {
      overflow: hidden;
      padding-right: 0px;
  }
  .btn {
    font-size: 18px;
    margin-top: 20px;
  }
  .btn-danger {
  //  width: 100%;
    margin-top: 0px;
  }
  span {
    width: 100% !important;
  }
  input {
    padding: 6px 12px !important;
    &.position {
      margin: 0px 20px 10px 45px;
      font-size: 24px;
      width: 94%;
    }
    &.company {
      font-weight: bold;
      font-size: 24px;
      width: 100%;
    }
    &.start {
      color: $blue;
      margin-left: 45px;
    }
    &.end {
      color: $blue;
    }
    &.task {
      width: 100%;
      margin: 10px 0px 10px -18px;
    }
  }
}
