skills {
  .editable-wrap {
    width: 100%;
  }
  tr {
    font-size: 18px;
    color: $grey-dark;
  }
  td {
    padding: 12px 5px !important;
  }
  .form-control {
    font-size: 18px !important;
    color: $grey-dark;
    height: 42px;
  }
  .buttons {
    margin-top: 20px;
    overflow: hidden;
    padding-right: 0px;
  }
  .btn {
    font-size: 18px !important;
    @media(max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}
