<article ng-controller="generalInfoCtrl as info" class="no-padding">
  <div class="col-md-3 col-sm-12 no-padding">
    <img src="../img/profile_pic.png">
  </div>
  <div class="col-md-8 col-sm-12">
    <h1 ng-hide="editorEnabled" ng-click="enableEditor()">{{info.name}}</h1>
    <div ng-show="editorEnabled">
      <input class="name" ng-model="editableTitle" ng-show="editorEnabled">
    </div>
    <h2 ng-hide="editorEnabled" ng-click="enableEditor()">{{info.position}}</h2>
    <div ng-show="editorEnabled">
      <input class="position" ng-model="editablePosition" ng-show="editorEnabled">
    </div>
    <div class="row">
      <div class="col-md-5">
        <p ng-hide="editorEnabled" ng-click="enableEditor()" class="phone">{{info.phone}}</p>
        <div ng-show="editorEnabled">
          <input class="with-icon phone" ng-model="editablePhone" ng-show="editorEnabled">
        </div>
      </div>
      <div class="col-md-5">
        <p ng-hide="editorEnabled" ng-click="enableEditor()" class="mail">{{info.mail}}</p>
        <div ng-show="editorEnabled">
          <input class="with-icon mail" ng-model="editableMail" ng-show="editorEnabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <p ng-hide="editorEnabled" ng-click="enableEditor()" class="location">{{info.location}}</p>
        <div ng-show="editorEnabled">
          <input class="with-icon location" ng-model="editableLocation" ng-show="editorEnabled">
        </div>
      </div>
      <div class="col-md-5">
        <p ng-hide="editorEnabled" ng-click="enableEditor()" class="birthday">{{info.birthday}}</p>
        <div ng-show="editorEnabled">
          <input class="with-icon birthday" ng-model="editableBirthday" ng-show="editorEnabled">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button ng-hide="editorEnabled" type="button" name="button" ng-click="enableEditor()" class="btn btn-default pull-right">Edit General Info</button>
    <div ng-show="editorEnabled" class="pull-right">
      <button class="btn btn-primary" ng-click="save()">Save</button>
      <button class="btn btn-danger" ng-click="disableEditor()">Cancel</button>.
    </div>
  </div>
</article>
