<article ng-controller="proExpCtrl as exps">
    <div class="col-md-12 col-sm-12">
        <form editable-form name="expform" onaftersave="saveTable()" oncancel="cancel()" >
          <div class="col-md-8">
            <h1 class="with-icon" id="tick">PROFESSIONAL EXPERIENCE</h1>
          </div>
          <div class="col-md-4 buttons">        
            <button type="button" class="btn btn-default pull-right margin-right-standard" ng-show="!expform.$visible" ng-click="expform.$show()">
              Edit Experience
            </button>
            <div class="btn-form padding-right-standard" ng-show="expform.$visible">
              <button type="button" ng-disabled="expform.$waiting" ng-click="addExp()" class="btn btn-default pull-right">Add position</button>
              <button type="submit" ng-disabled="expform.$waiting" class="btn btn-primary pull-right">Save</button>
              <button type="button" ng-disabled="expform.$waiting" ng-click="expform.$cancel()" class="btn btn-default pull-right">Cancel</button>
            </div>
          </div>
          <div ng-repeat="exp in exps | filter: filterExp track by $index">
            <div class="col-md-12 position">
              <div class="row title">
                <div>
                  <h2 editable-text="exp.position" e-form="expform">
                    {{ exp.position || 'empty' }}
                  </h2>
                </div>
                <div>
                  <h2 editable-text="exp.company" e-form="expform" class="company">
                    @{{ exp.company || 'empty' }}
                  </span>
                </div>
                <div class="pull-right padding-right-big">
                  <div ng-show="expform.$visible">
                    <button type="button" name="button" ng-click="deleteExp(exp.id)" class="btn btn-danger pull-right">Delete</button>
                  </div>
                </div>
              </div>
              <div class="row dates">
                <div>
                  <h3 editable-text="exp.start" e-form="expform">{{exp.start || 'empty' }}</h3>
                </div>
                <div>
                  -
                </div>
                <div>
                  <h3 editable-text="exp.end" e-form="expform">{{exp.end || 'empty' }}</h3>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="list">
                  <ol>
                    <li ng-repeat="task in exp.tasks">
                      <div editable-text="task.desc" e-form="expform">
                        {{task.desc || 'empty' }}
                      </div>
                    </li>
                  </ol>
                  <div class="btn-form" ng-show="expform.$visible">
                    <button type="button" ng-disabled="expform.$waiting" ng-click="addTask(exp.id-1)" class="btn btn-default pull-right">Add row</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </form>
    </div>
  </div>
</article>
