<article ng-controller="proExpCtrl as exps">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-8">
        <h1 class="with-icon" id="tick">PROFESSIONAL EXPERIENCE</h1>
      </div>
      <div class="col-md-4 padding-right-standard">
        <button ng-hide="editorEnabled" type="button" name="button" ng-click="enableEditor()" class="btn btn-default pull-right">Edit Experience</button>
        <div ng-show="editorEnabled" class="pull-right">
          <button class="btn btn-primary" ng-click="save()">Save</button>
          <button class="btn btn-danger" ng-click="disableEditor()">Cancel</button>.
        </div>
      </div>
      <div class="col-md-12">
          <h2 ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.position}}
            <span ng-hide="editorEnabled" ng-click="enableEditor()">@{{exps.company}}</span>
          </h2>
          <div class="col-md-6 no-left-padding">
            <div ng-show="editorEnabled">
              <input class="position" ng-model="editablePosition" ng-show="editorEnabled">
            </div>
          </div>
          <div class="col-md-6">
            <div ng-show="editorEnabled">
              <input class="company" ng-model="editableCompany" ng-show="editorEnabled">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h3 ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.start}}</h3>
          <div ng-show="editorEnabled" class="inline-block">
            <input class="start" ng-model="editableStart" ng-show="editorEnabled">
          </div>
          <span> - </span>
          <h3 ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.end}}</h3>
          <div ng-show="editorEnabled" class="inline-block">
            <input class="end" ng-model="editableEnd" ng-show="editorEnabled">
          </div>
        </div>
        <div class="col-md-12">
          <div class="list">
            <ol>
              <li ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.tasks[0].desc}}</li>
              <div ng-show="editorEnabled">
                <input class="task" ng-model="editableTask0" ng-show="editorEnabled">
              </div>
              <li ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.tasks[1].desc}}</li>
              <div ng-show="editorEnabled">
                <input class="task" ng-model="editableTask1" ng-show="editorEnabled">
              </div>
              <li ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.tasks[2].desc}}</li>
              <div ng-show="editorEnabled">
                <input class="task" ng-model="editableTask2" ng-show="editorEnabled">
              </div>
              <li ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.tasks[3].desc}}</li>
              <div ng-show="editorEnabled">
                <input class="task" ng-model="editableTask3" ng-show="editorEnabled">
              </div>
              <li ng-hide="editorEnabled" ng-click="enableEditor()">{{exps.tasks[4].desc}}</li>
              <div ng-show="editorEnabled">
                <input class="task" ng-model="editableTask4" ng-show="editorEnabled">
              </div>
            </ol>
          </div>
        </div>
      </div>
  </div>
</article>
