<article ng-controller="EditableTableCtrl">
    <div class="col-md-12  no-mobile-padding">
        <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()" class="padding-right-half">
          <div class="col-md-12">
            <div class="col-md-8 no-left-padding">
              <h1 class="with-icon" id="target">SKILLS</h1>
            </div>
            <div class="col-md-4 buttons">
              <div class="btn-edit">
                <button type="button" class="btn btn-default pull-right" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                  Edit Skills
                </button>
              </div>
              <div class="btn-form pull-right" ng-show="tableform.$visible">
                <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">Cancel</button>
                <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
          <div class="col-md-12 padding-left-huge">
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed ">
              <tr style="font-weight: bold">
                <td style="width:60%">Technologies</td>
                <td style="width:40%">Level</td>
                <td style="width:30%" ng-show="tableform.$visible"><span>Action</span></td>
              </tr>
              <tr ng-repeat="tech in techs | filter:filterTech">
                <td>
                  <!-- editable techname (text with validation) -->
                  <span editable-text="tech.name" e-form="tableform" onbeforesave="checkName($data, tech.id)">
                    {{ tech.name || 'empty' }}
                  </span>
                </td>
                <td>
                  <!-- editable status (select-local) -->
                  <span editable-select="tech.status" e-form="tableform" e-ng-options="s.value as s.text for s in statuses">
                    {{ showStatus(tech) }}
                  </span>
                </td>
                <td ng-show="tableform.$visible"><button type="button" ng-click="deleteTech(tech.id)" class="btn btn-danger pull-right">Delete</button></td>
              </tr>
            </table>

            <!-- buttons -->
            <div class="btn-form" ng-show="tableform.$visible">
              <button type="button" ng-disabled="tableform.$waiting" ng-click="addTech()" class="btn btn-default pull-right">Add row</button>
            </div>
          </div>

        </form>
    </div>
  </div>
</article>
